@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Carrois+Gothic&family=Inconsolata:wght@200..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Nanum+Gothic&family=Poetsen+One&family=Sedgwick+Ave+Display&display=swap');



$raisinBlack : #140D27;
$acidGreen : #B7C828;
$platinium : #EBE6E0;
$moonstoneBlue : #6CB1B4;

