// @import url(_main.scss);
// @import url(_header.scss);
// @import url(_footer.scss);
// @import url(_variables.scss);

@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Carrois+Gothic&family=Inconsolata:wght@200..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Nanum+Gothic&family=Poetsen+One&family=Sedgwick+Ave+Display&display=swap');

body{
}

    header{
        h1{
            font-family: Poetsen One;
            font-size: 2rem;
        }
        
        nav{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    main{
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .task-container{
            display: flex;
            width: 100%;
            max-width: 200px;
            background-color: grey;
            padding: 20px 20px 80px;
            border-radius: 1rem;
            
            header{
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                button{
                    margin-top: 10px;
                }
            }

        }
    }