//Variable color
:root{
    --background : #f0f0f0;
    --border: #333;
    --color: #140d27;
    --header : #4D7E96;
}

$raisinBlack : #140D27;
$acidGreen : #B7C828;
$platinium : #EBE6E0;
$moonstoneBlue : #0C2F41;
$background : #f0f0f0;
$border : #333;

//font familly
$poppins : "Poppins", sans-serif;
$openSans : "OpenSans", sans-serif;

//responsive

@mixin responsive($width) {
    @media only screen and (min-width: $width) {
        @content;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -ms-overflow-style: none;
    // Internet Explorer 10+ /
    scrollbar-width: none;
    // Firefox */
}
::-webkit-scrollbar {
    display: none;
    // Safari and Chrome */
  }



body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-family: $poppins;
    font-weight:300 ;
    background-color: var(--background);
    transition: all ease-in-out 0.25s;
    header{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--header);
        color: var(--color);
        .header__top{
            width: 85%;
            display: flex;
            justify-content: space-between;
            padding: 10px;
            .header__title{
                .logo{
                    // width: 450px;
                    // height: 380px;
                    justify-items: center;
                }
                p{
                    margin: 5px 0;
                }
            }
            button{
                width: 25px;
                height: 25px;
                border-radius: 25px;
            }
            #filter--global{
                align-self: flex-end;
                    .filter-options-container{
                        position: absolute;
                        width: 60px;
                        text-align: center
                        // background-color: #6CB1B4;
                    }
            }
            .header__btn{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                input{
                    margin-top: 10px;
                }
                .checkbox{
                    height: 17.5px;
                    width: 35px;
                    background: #222;
                    appearance: none;
                    border-radius: 17.5px;
                    box-shadow: inset 0 4px 17.5px rgba(0,0,0,0.1),
                                inset 0 4px 4px rgba(0,0,0,0.1),
                                inset 0 -2px 2px rgba(0,0,0,0.1);
                    position: relative;
                    outline: none;
                    cursor: pointer;
                    transition: 0.5s;            
                }
                
                .checkbox::before{
                    height: 17.5px;
                    width: 17.5px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    content: "";
                    background: linear-gradient(to bottom,#444,#222);
                    border-radius: 17.5px;
                    transform: scale(0.9);
                    transition: 0.5s;
                    box-shadow: 0 4px 5px rgba(0,0,0,0.5),
                                inset 1px 1px rgba(255,255,255,0.2),
                                inset -1px 1px rgba(255,255,255,0.2);
                }
                
                .checkbox:checked{
                    background: #fff;
                    box-shadow: inset 0 1px 5px rgba(0,0,0,0.1),
                                inset 0 1px 4px rgba(0,0,0,0.1),
                                inset 0 -2px 2px rgba(0,0,0,0.05);
                }
                
                .checkbox:checked::before{
                    left: 17.5px;
                    box-shadow: 0 4px 10px rgba(0,0,0,0.1),
                                inset 1px 1px rgba(255,255,255,1),
                                inset -1px 1px rgba(255,255,255,1);
                    background: linear-gradient(to bottom,#eaeaea,#f9f9f9);            
                }
                
                .checkbox::after{
                    content: "";
                    position: absolute;
                    top: 80px;
                    left: 35px;
                    z-index: -1;
                    transform: translate(-50%,-50%);
                    transition: 0.5s;
                }
            }
        }
        #progressionBar{
            width: 85%;
            height: 20px;
            border-radius: 20px;
            background-color: crimson;
            margin: 20px 0;
        }
        .toggleProject{
            display: flex;
            flex-direction: column;
            input{
                margin: 5px 5px;
            }
        }
    }
    main{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--color);
        @include responsive(768px){
            flex-direction: row;
            align-items: flex-start;
            justify-content: center;
        }
        .task__container{
            width: 85%;
            border: 1px solid var(--border);
            margin: 30px 0;
            border-radius: 20px;
            padding: 10px;
            box-shadow: 1px 2px 4px var(--color);
            @include responsive(768px){
                margin: 30px 10px;
                min-height: 400px;
            }
            button{
                width: 25px;
                height: 25px;
                border-radius: 25px;
            }
            .task__container__header{
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid var(--border);
                padding-bottom: 10px;
            }
            .add__toggle{
                display: flex;
                flex-direction: column;
                border-bottom: 1px solid var(--border);
                input, select, button{
                    margin: 2px;
                }
                button{
                    align-self: flex-end;
                }
            }
            .zone__task{
                display: flex;
                flex-direction: column;
                .task{
                    -webkit-user-select: none; /* Safari /
                        -ms-user-select: none; / IE 10 and IE 11 /
                        user-select: none; / Standard syntax */
                    
                    display: flex;
                    font-size: 12px;
                    padding: 10px;
                    margin: 10px;
                    border: 2px solid var(--border);
                    border-radius: 20px;
                    background-color: $platinium;
                    color: $moonstoneBlue;
                    .leftSide{
                        width: 75%;
                    }
                    .scoreDate{
                        display: flex;
                        justify-content: space-between;
                    }
                    .description{
                        display: none;
                    }
                    .btnDelete{
                        width: 25%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
                .task:hover{
                    .description{
                        display: block;
                    }
                }
                .drag{
                    width: 28%;
                    position: absolute;
                    box-shadow: 2px 2px 5px #333;
                    pointer-events: none;
                    transition: box-shadow ease 0.3s, transform ease 0.3s;
                    transform: scale(1.1);
                }
            }
        }
    }
    footer{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--header);
        padding: 20px;
        color: var(--color);
    }
}